/* Desktops and laptops ----------- > ~ 1024 px yellow*/
@media only all and (min-width: 768px) and (max-width: 1024px){
  body.sidebar-right {
    background: orange;
    #content-inner, #content-top {
      margin-right: 32.81%; /* 315px / 960px = 0.3281 */
    }
    #sidebar-right {
      margin-left: -31.25%; /* 300px / 960px = 0.3125 */
      width: 31.25%;
    }
  }
}


